<div class="Overlay" id="md-get-started">
  <div class="Overlay-close row"><span class="Overlay-closeIcon" id="js-overlay-close"></span></div>
  <div class="">
    <div class="">
      <div class="Overlay-modal scale">
        {% include 'modules/GetStarted.twig' with {'classes': 'light'} %}
      </div>
    </div>
  </div>
</div>
