{% extends "base.twig" %}

{% block content %}
  <div class="PageHeader">
    <h1 class="PageHeader-title">Help Center</h1>
    <div class="Search">
    </div>
  </div>
  <div class="SideNav-wrapper container">
    <!--<div class="SideNav">
      <h3>Topics</h3>
      <ul>
        <li><a href="/help">All</a></li>
        {% for category in helpCategories %}
        <li><a href="#">{{category.name}}</a></li>
        {% endfor %}
    </div>-->
    <div class="SideNav-content" style="width:100%">
      {% for question in questions %}
      <div class="">
        <h2 class="Accordion-question">{{question.post_title}}</h2>
        <div class="Accordion-answer">
          <div class="Accordion-answerTextWrapper">
          {{question.post_content}}
          </div>
        </div>
      </div>
      {% endfor %}
      {#% include 'modules/Pagination.twig' %#}
    </div>
  </div>
{% include 'modules/GetStarted.twig' with {'classes': 'dark'} %}
{% endblock %}
