{% extends "base.twig" %}

{% block content %}
<div class="PageHeader">
  <h1 class="PageHeader-title">{{post.title}}</h1>
</div>
<div class="container p-t-lg">
  {{post.content}}
<div class="p-t-md">
  <hr>
</div>
</div>

{% endblock %}
