.DS_Store
.sass-cache
.publish
dist
Desktop.ini
jspm_packages
node_modules
npm-debug.log
**/generated/_icons.sass
gulp/untitled_folder

# Ignore everything in Build folder except the JSPM conig.js file
!./build/js/config.js
build/*

