[submodule "src/scss-starter"]
	path = src/scss-starter
	url = https://github.com/ripestudios/scss-starter.git
[submodule "src/scss"]
	path = src/scss
	url = https://github.com/ripestudios/scss-starter.git
[submodule "src/icons"]
	path = src/icons
	url = https://github.com/ripestudios/ui-icons-svg.git
