/* =================================================================
#  GRID
#  ---------------------
#  This is where you describe what your module does and how to use it.
#  Go forth & code wisely!
#   http://www.sitepoint.com/title-css-simple-approach-css-class-naming/ 
==================================================================== */

/* ========================================================================= */
// Variables
// -------------

// Define your custom responsive grid.
$grid-breakpoints: (
  xs: 0,    // Extra small screen / phone
  sm: 34em, // Small screen / phone
  md: 48em, // Medium screen / tablet
  lg: 62em, // Large screen / desktop
  xl: 75em  // Extra large screen / wide desktop
) !default;

// Number of columns in the grid.
$grid-columns:               12 !default;

// Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:          1.5rem !default;

// Use flexbox grid?
$enable-flex:               false !default;

// Generate classes for all grid settings
// Disable if you use semantic approach, saves filesize
$enable-grid-classes:       false !default;

// Fixed Width Container sizes
// -----
// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: (
  sm: 34rem,    // 480
  md: 45rem,    // 720
  lg: 60rem,    // 960
  xl: 63rem  // 1140
) !default;

/* ========================================================================= */
// Dependencies
// -------------
@import 'mixins-grid-framework';
@import 'mixins-breakpoints';

/* ========================================================================= */
// Default Containers
// -------------
@import 'default-containers';


