// ===================================================================================
// Typography
// -------------
// Font Stacks
$base-font-family:      "Brown-Light", Helvetica, sans-serif !default;
$bold-font-family:      "Brown-Bold", Helvetica, sans-serif !default;
// Weights
$base-font-family-bold: 600;
// Sizes
$root-font-size:       16px;
$base-font-size:       1rem;
$base-line-height:     1.5;
