/* 
//=====
name: "Variables";
slug: base/variables;
description: [ ];  
=====//
*/

// ===================================================================================
//  Box Model
// -------------
$box-sizing: border-box;

// ===================================================================================
// Typography
// -------------
// Font Stacks
$base-font-family:      "Helvetica Neue", Helvetica, sans-serif !default;
// Weights
$base-font-family-bold: 600;
// Sizes
$root-font-size:       16px;
$base-font-size:       1rem;
$base-line-height:     1.5;

// ===================================================================================
// Base Sizing
// -------------
$base-border-radius:    3px;
$base-spacing:          $base-line-height * 1em;
$small-spacing:         $base-spacing / 2;

// ===================================================================================
// Base Layering
// -------------
$z-layers: (
  'modal':            5000,
  'navbar':           4500,
  'dropdown':         4000,
  'default':          1,
  'bottomless-pit':   -10000
);

// ===================================================================================
// Grid 
// -------------
$grid-breakpoints: (
  xs: 0,    // Extra small screen / phone
  sm: 34em, // Small screen / phone
  md: 48em, // Medium screen / tablet
  lg: 62em, // Large screen / desktop
  xl: 75em  // Extra large screen / wide desktop
);
// Number of columns in the grid.
$grid-columns:               24;
// Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:          1.5rem;
// Use flexbox grid?
$enable-flex:                false;
// Generate classes for all grid settings
// Disable if you use semantic approach, it reduces the filesize
$enable-grid-classes:        false;

// ===================================================================================
// Color
// -------------
// Color Palette 
$brand-primary-color:               #477dca;
$dark-gray:                         #333;
$medium-gray:                       #999;
$light-gray:                        #ddd;
// Font Colors
$base-font-color:                   $dark-gray;
// Border Color/Style
$base-border-color:                 $light-gray;
$base-border:                       1px solid $base-border-color;
// Background Colors
$base-background-color:             #fff;
$secondary-background-color:        tint($base-border-color, 75%);
// UI Action
$ui-color-action:                   $brand-primary-color;
$ui-color-action-hover:             tint($ui-color-action, 75%);
// UI Success
$ui-color-success:                  #39b25d;
$ui-color-success-hover:            tint($ui-color-success, 75%);
// UI Info
$ui-color-info:                     #3498db;
$ui-color-info-hover:               tint($ui-color-info, 75%); 
// UI Warning
$ui-color-warning:                  #f3a51b;
$ui-color-warning-hover:            tint($ui-color-warning, 75%); 
// UI Error
$ui-color-error:                    #ee5f49;
$ui-color-warning-error:            tint($ui-color-error, 75%); 


// ===================================================================================
// Forms
// -------------
// Form Colors
$form-input-background-color:     $base-background-color;
$form-input-border:               2px solid $base-border-color;
// Form Shadows
$form-box-shadow:                  none; // eg: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus:            none; //eg: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
// A better designed select element (dropdows)
$prettify-select-dropdown:         true;
// CSS selectors - inputs   
$all-text-inputs: 'input[type=text],
                   input[type=password],
                   input[type=search],
                   input[type=email],
                   input[type=url],
                   input[type=tel],
                   input[type=date],
                   input[type=number],
                   input[type=time],
                   textarea';
// CSS selectors - buttons                   
$all-buttons:     '.btn, 
                   button, 
                   input[type=submit], 
                   input[type=button]';

// ===================================================================================
// Animations
// -------------
$base-duration:         150ms !default;
$base-timing:           ease-out !default;
$fastDuration:          100ms !default;
$mediumDuration:        300ms !default;
$slowDuration:          500ms !default;
