/*
//=====
name: "Buttons";
slug: buttons;
description: [
  #Buttons
  ### buttons are done as a SASS variable, eg:
  $all-buttons: '.btn, button, input[type=submit], input[type=button]';
];
usage: [
  <a class="btn">I'm a link button</a>
  <input type="submit">I'm a submit button</a>
  <button>I'm a button button</a>
];
=====//
 */

// ===================================================================================
//  Variables
// -------------
// CSS selectors - buttons
$all-buttons:     '.btn,
                   button,
                   input[type=submit],
                   input[type=button]' !default;

// Primary button
$primary-button-background-color:     $brand-primary-color;
$primary-button-border-color:         $brand-primary-color;
$primary-button-text-color:     $white;
// Secondary button
$secondary-button-background-color:     transparent;
$secondary-button-border-color:         $white;
$secondary-button-text-color:           $white;
// Tertiary button
$tertiary-button-background-color:     $brand-primary-color;
$tertiary-button-border-color:         $brand-primary-color;
$tertiary-button-text-color:           $white;


// ===================================================================================
//  Button Styles
#{$all-buttons} {
  appearance: none;
  background-color: $primary-button-background-color;
  border: 3px solid $primary-button-border-color;
  border-radius: $base-border-radius;
  color: $primary-button-text-color;
  cursor: pointer;
  display: inline-block;
  font-family:$bold-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: $base-font-family-bold;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: shade($ui-color-action, 20%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $ui-color-action;
    }
  }

  &.secondary {
    background-color: $secondary-button-background-color;
    color: $secondary-button-text-color;
    border: 3px solid $secondary-button-border-color;

    &:hover {
      background-color: $brand-primary-color;
      color: $white !important;
    }
  }

  &.dark {
    color: $brand-primary-color !important;
    border-color: $brand-primary-color !important;
  }
}
