/*
//=====
@name: "Typography"
@slug: base/typography
@description: [ ]
@usage: [
  <h1>h1. Heading</h1>
  <h2>h2. Heading</h2>
  <h3>h3-h6. Heading</h3>
  <hr>
  <h1 id="paragraph">Paragraph</h1>
  <p>Lorem ipsum dolor sit amet, <a href="#" title="test link">test link</a> adipiscing elit. Nullam dignissim convallis est.
  Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec,
  gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. M
  aecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy.</p>
]
=====//
*/



// ===================================================================================
// Core typographic selectors
// ------------
//
html {
  font-size: $root-font-size;
}

body {
  @include body-copy;
  color: $base-font-color;
  font-feature-settings: "kern", "liga", "pnum";
  text-size-adjust: 100%;
  text-size-adjust: 100%;
}

h1,.h1 {
  @include header-1;
  margin: 0 0 $small-spacing;
}

h2,.h2 {
  @include header-2;
  margin: 0 0 $small-spacing;
}

h3,.h3 {
  @include header-3;
  margin: 0 0 $small-spacing;
}

// only user h4-h6 selectively.  h5, // Most apps don't need 6 headings; 3 should be sufficient
h4,h5,h6
{
  @include header-3;
  margin: 0 0 $small-spacing;
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $ui-color-action;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: $ui-color-action-hover;
  }

  &:visited {
    // add a visited style to links, its good UX
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

/* Section Labels are primarily used as titles on each homepage section  */
.sectionLabel {
  @include label;
  margin-bottom: 1rem;
  color: $brand-primary-color;
}

/* Two Col Text is a style that separates paragraphs into columns and sets their internal gutters by even/odd
   pseudo-elements.  This lets us control the internal column gutter indepedently of grid gutter.  */
.twoColText {
  padding-bottom: 1.5rem;

  @include media-breakpoint-up(sm) {
    p:nth-child(odd) {
      float: left;
      width: 50%;
      padding-left: $base-spacing;
      padding-top: $base-spacing;
      text-align: left;
    }

    p:nth-child(even) {
      float: left;
      width: 50%;
      padding-right: $base-spacing;
      padding-top: $base-spacing;
      text-align: left;
    }
  }
}
