//- Single column body content tamplate
.guideline-wrapper#logo
  .guideline-section
    .col-sm-12
      :markdown
        ### Logo
        Please be sure you are downloading the correct logo for your purpose 
        (ie. for print, download CMYK, for web, download RGB). If you intend to post the #{clientName} logo on a website, please download 
        the image and reupload it to your server — do not hotlink from our server.
  .guideline-section
    .col-sm-12
      img(src='brand-files/logos/brand-logo_config-rgb.png')
   a.top(href='#top') »