//- Single column body content tamplate
- console.log(benefits)
.guideline-wrapper#logo
  .guideline-section
    .col-sm-12
      h1=title
      p test
  .guideline-section
    .col-sm-12
      img(src='brand-files/logos/brand-logo_config-rgb.png')
   a.top(href='#top') »